* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'sans-serif';
}

#background{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#code-logo{
    margin-left: 20px;
    height: 35px;
    filter: invert(12%) sepia(87%) saturate(7500%) hue-rotate(337deg) brightness(99%) contrast(104%);
}

#profile{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    max-width:25%;
    position: relative;
    top: 60px;
}

.blue.background{
    background-color: rgb(124, 168, 246);
}

ul{
    list-style-type: none;
    font-size: 28px;
    font-weight: 500;
}

h1, h2{
    color: rgb(130, 130, 130);
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    gap: 40px;
    margin: 0 40px;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.end{
    justify-content: end;
}

.column{
    flex-direction: column;
}

.media{
    margin-top: 40px;
    gap: 40px;
}

.media *{
    height: 50px;
    opacity: 0.8;
}