nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  z-index: 1;
}

nav ul {
  gap: 40px;
  margin: 0 40px;
  list-style-type: none;
  justify-content: end;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #000000;
  left: 0;
  bottom: -1px;
}

nav ul li a:hover::after {
  width: 100%;
}
